* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 350px;
  /* height of your footer */
  background-color: #f1f7f8;
}

.footer {
  color: white;
  background-color: #566074;
  /* background: linear-gradient(to right, #092f56, #000000); */
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  color: #17a2b8;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.p-4 {
  padding: 0.5rem!important;
}

img {
  /* object-fit: cover; */
  object-position: 0 30%;
}

h1, h2, h3 {
  color: #144271;
}

.btn-primary {
  color: white;
  background-color: #144271;
  border-color: #144271;
}

.btn-outline-primary {
  color: #144271;
  border-color: #144271;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  color: white;
  border-color: #144271;
  background-color: #144271;
}

/* .btn-success {
  background-color: #144271;
  border-color: #0f1f2e;
} */

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #0f1f2e;
  border-color: #0f1f2e;
}

.home_page {
  /* background-color: #f1f7f8; */
  margin-top: -4px;
}

.payment-section {
  margin-top: 58px;
}

@media (max-width: 768px) {
  .home_page {
    margin-top: -4px;
  }
}

@media (max-width: 1024px) {
  .payment-section {
    margin-top: 5px;
  }
}

.home_page h2 {
  margin: 15px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.border_login {
  box-shadow: 0px 0px 15px 0px rgb(197 197 197);
  border-radius: 10px;
  padding: 20px;
  /* margin-left: 20px; */
  width: 100%;
  height: 100%;
  background-color: white;
}

.signBtn {
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 20%);
}

/* Term or policy Pages css */

.terms h1 {
  font-size: 28px;
  margin-top: 4%;
}

.terms h2 {
  font-size: 21px;
  text-align: left;
}

.terms strong {
  font-size: 13px;
}

.terms p {
  font-size: 13px;
  text-align: left;
}

.terms li {
  font-size: 13px;
}

.company-logo {
  margin-bottom: -2px;
  margin-left: 2px;
  color: #ffffff;
  font-weight: 900
}

.cart-logo {
  font-size: 32px;
  color: #368ca8;
  margin-left: -5px;
  padding-bottom: 2px;
}

@media (max-width: 767px) {
  .terms h1 {
    font-size: 22px;
  }
  .terms h2 {
    font-size: 16px;
    text-align: left;
  }
  .home_page h2 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .carousel-indicators {
    display: none;
  }
  .p-4 {
    padding: 1.5rem!important;
  }
  .main {
    padding-bottom: 768px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .main {
    padding-bottom: 335px;
  }
}


  /* screen border */

.paper{
  max-height: 500px;
  box-shadow: 0px 0px 15px 0px rgb(197 197 197);
  /* border-radius: 10px; */
  padding: 20px;
  /* margin-left: 20px; */
  width: 100%;
  height: 100%;
  background-color: white;
}




/* ----------- Loading ------------- */

@import url("./loading.css");
/* ----------- Products ------------- */

@import url("./product.css");
/* ----------- Profile ------------- */

@import url("./profile.css");
/* ----------- Products Manager ------------- */

@import url("./products_manager.css");
/* ----------- Nav Bar ------------- */

@import url("./navbar.css");
/* ----------- Footer ------------- */

@import url("./footer.css");
/* ----------- Cart ------------- */


@import url("./contactus.css");
/* ----------- HomePageCards ------------- */

@import url("./HomePageCards.css");
/* ----------- THank You Page ------------- */

@import url("./thank_you.css");
/* ----------- carousel ------------- */


/* ----------- Sigin------------- */
@import url("./signin.css");


/* ----------- RespModal------------- */

@import url("./respModal.css");

/* ----------- Students------------- */

@import url("./students.css");

/* ----------- SchoolRegistraion------------- */

@import url("./schoolRegistration.css");




.card-counter{
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 95%;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover{
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary{
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger{
  background-color: #ef5350;
  color: #FFF;
}  

.card-counter.success{
  background-color: #66bb6a;
  color: #FFF;
}  

.card-counter.info{
  background-color: #26c6da;
  color: #FFF;
}  

.card-counter i{
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers{
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name{
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}

.card-block{
  width: 80%;
  margin-left: 10%;
}

/* @-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 16px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 16px 0;
  }
  to {
    background-position: 0 0;
  }
} */
.progress {
  height: 12px;
  font-size: 10px;
  background-color: #f4f7fa;
  border-radius: 0;
  overflow: visible;
}

.progress-bar {
  background-color: #04a9f5;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}
.progress-bar.progress-c-blue {
  background: #04a9f5;
}
.progress-bar.progress-c-theme {
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
}
.progress-bar.progress-c-theme2 {
  background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
}
.progress-bar.progress-c-red {
  background: #f44236;
}
.progress-bar.progress-c-theme {
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
}
.progress-bar.progress-c-theme2 {
  background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
}
.progress-bar.progress-c-green {
  background: #1de9b6;
}
.progress-bar.progress-c-theme {
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
}
.progress-bar.progress-c-theme2 {
  background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
}
.progress-bar.progress-c-yellow {
  background: #f4c22b;
}
.progress-bar.progress-c-theme {
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
}
.progress-bar.progress-c-theme2 {
  background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
}
.progress-bar.progress-c-purple {
  background: #a389d4;
}
.progress-bar.progress-c-theme {
  background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
}
.progress-bar.progress-c-theme2 {
  background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
}