.registration_page .avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 10%;
    cursor: pointer;
}

.registration_page .avatar img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.registration_page .avatar span{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff8;
    text-align: center;
    font-weight: 400;
    color: rgb(255, 140, 45);
    transition: 0.3 ease-in-out;
}

.registration_page .avatar:hover span{
    bottom: -15%;
}

.row{
    margin-right:0px;
    margin-left:0px;
}

.registration_page #file_up{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
::-webkit-file-upload-button{
    cursor: pointer;
}



@media (max-width: 768px) {    
    .registration_page .mgtop{margin-top:15px;}
  }