
/*------student view------ */

.app-header {
    margin: 3%;
    height: 50px;
    background: linear-gradient(to left, #0000ff 0%, #ffffff 100%);
}


.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0px;
}


element.style {}

.form-control:disabled, .form-control[readonly]:focus {
    text-decoration: none;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0px;
}

.form-control:focus {
    outline: none !important;
    border-color: none;
    box-shadow: none;
}

.icon-hover:hover{
 cursor: pointer;
}